# Data Types and Strings in Python

- Some data types in python include integer, float, string.
- Integers are whole numbers, positive or negative numbers.
- Float are real numbers, rational or irrational. This means numbers with decimal and fractions eg 12.45
- String are the sequences of characters or text, enclosed in quotes.

In [2]:
# Getting the data type using type function

#outputs int
value = 45
print(type(value))

#output string
value1 = "Hello world"
print(type(value1))

#output float
value2 = 78.90
print(type(value2))

<class 'int'>
<class 'str'>
<class 'float'>

### Strings in Python

- There are seven sequences types:
    - Strings          - Tuples
    - Unicode Strings  - Bytearrays
    - Lists            - Buffers
    - Xrange objects
- There is a specific way of defining string in python.
- It is defined within single quotes ('') or double ("") or even triple quotes ('''''')

### Accessing Strings

In [ ]:
#The output is letter 'o' since indexing start at 0
name = "John_Doe"
print(name[1])

#The output is letter '_' 
name = "John_Doe"
print(name[4])

#The output is letter 'e' 
name = "John_Doe"
print(name[7])

### String Slicing

In [18]:
#We can specify the start and the end separeted by a colon

sentence1 = "The Recolonization of Africa"
print(sentence1[0:18])

sentence2 = "Africa is our bussiness"
print(sentence2[0:23])

#Negative indexing
#We want to point an item towards the end
#We can't start with zero with negative index

sentence3 = "We can solve our problems as Africa"
print(sentence3[-6::])

The Recolonization
Africa is our bussiness
Africa

### String Manipulation

In [26]:
#Adding strings together using (+) operator

first_name = "PLO "
second_name = "Lumumba"
full_name = first_name + second_name
print(full_name)

PLO Lumumba

In [27]:
#Getting the length of our string using len()

sentence1 = "The Recolonization of Africa"
print(len(sentence1))

28

In [28]:
#Escaping characters using backslashes

#Before slashes
#There will be an error

txt1 = "She said "Never let go"."
print(txt1)

SyntaxError: invalid syntax (2354839820.py, line 4)

In [30]:
#After slashes

txt2 = "She said \"Never let go\"."
print(txt2)

She said "Never let go".

In [33]:
#The in syntax
#Checks if a character exists in a string

game = "Popular Nintendo Game: Mario Kart"
print("l" in game)
print("Z" in game)

True
False

In [39]:
#We use for..in to iterate through a string

sentence2 = "Africa is our bussiness"
for character in sentence2:
     print(character)

A
f
r
i
c
a

i
s

o
u
r

b
u
s
s
i
n
e
s
s

### Using the string.format()

- It replaces  the empty braces with placeholders in a string using its arguments

In [43]:
message = "Fred scored {} out of {} points"
output = message.format(10,10)
print(output)

subject = "Fred {verb} a {adjective} man"
sub = subject.format(verb = "is",adjective = "good")
print(sub)

Fred scored 10 out of 10 points
Fred is a good man

### Using the string.lower() and the string.upper()

- It returns a string with all lower case for upper case and vice versa

In [48]:
#Using the lower()
#The uppercase in sentence1 is returned as lowercase

sentence1 = "The Recolonization of Africa"
sentc =sentence1.lower()
print(sentc)

#Using the upper()
#The lowercase in sentence1 is returned as uppercase

sentence1 = "The Recolonization of Africa"
sentc =sentence1.upper()
print(sentc)

the recolonization of africa
THE RECOLONIZATION OF AFRICA

### Using the string.strip()

- It removes the characters before the beginning and end of a string

In [60]:
#It removes the space before and the end of the string

sentence1 = "   The Recolonization of Africa "
new = sentence1.strip()
print(new)

The Recolonization of Africa

### Using the string.title()

- It changes the first letter of the letter to a capital letter and the rest is lower case

In [62]:
#It returns the title case
new_val = "the recolonization of africa"
new = new_val.title()
print(new)

The Recolonization Of Africa

### Using the string.split()

- It splits a string into a list of items
- If no arguments is passed, the default behaviour is to split on whitespace
- If an argument is passed it is used as a delimiter on which the split will happen.

In [64]:
# splitting without the default argument
# Using the spaces as the delimiter

sentence1 = "The Recolonization of Africa"
new = sentence1.split()
print(new)

# Splitting with an argument
# Using the and as our delimiter

sentence1 = "The Recolonization of Africa and Making Africa work"
new = sentence1.split("and")
print(new)

['The', 'Recolonization', 'of', 'Africa']
['The Recolonization of Africa ', ' Making Africa work']

### Using the string.replace()

- It replaces the occurrence of the first argument with the second argument within the string

In [66]:
sentence1 = "The Recolonization of Africa, and ,Making Africa work"
new = sentence1.replace("and","Decolonization")
print(new)

The Recolonization of Africa, Decolonization ,Making Africa work

### Using the string.join()

- It concatenates a list of strings together to create a new string joined by a delimeter of choice

In [68]:
# We pass the delimeter of our choice

new_val = ["Code cademy", "AI planet","Dekut"]
new = "--".join(new_val)
print(new)

Code cademy--AI planet--Dekut

## Lists in Python

- Lists is an ordered sequence of data
- They are declared using square brackets
- List are mutable

### List Methods

In [75]:
# We can use .append() method to add something new to a list

fruits = ["Mangoes","Pineapple","Banana","Apple"]
fruits.append("Kiwi")
print(fruits)

# We can use .count()  to get the number of occurrences of an item in a list

fruits = ["Mangoes","Pineapple","Banana","Apple","Pineapple","Pineapple","Ovacado","Kiwi"]
new_list = fruits.count("Pineapple")
print(new_list)

#We can use .len() also get the number of items in a list 

fruits = ["Mangoes","Pineapple","Banana","Apple","Pineapple","Pineapple","Ovacado","Kiwi"]
print(len(fruits))

#We can order an unordered list contating numerical values in an ascending order

values = [78,56,9,12,4,2,67,2,90,123,67,34,1,89]
values.sort()
print(values)

['Mangoes', 'Pineapple', 'Banana', 'Apple', 'Kiwi']
3
8
[1, 2, 2, 4, 9, 12, 34, 56, 67, 67, 78, 89, 90, 123]

### Some inbuilt functions in Python

- Print() is used to output a statement
- Input() is used to get user input to the system
- round() is used to round off decimals to the nearest integers
- sum()   is used to do addition of a collection of numbers

In [77]:
#Example of a number in decimal

#Using round()
number = 880.99667
new_number = round(number)
print(new_number)

#Using sum()

values = [78,56,9,12,4,2,67,2,90,123,67,34,1,89]
new_val = sum(values)
print(new_val)

881
634